#logoText {
    position: absolute;
    margin-left: 5%;
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    
    
}

#titleFull {
    margin: 0 auto;
}

#navLink {
    color:black;
    margin-left: 2%;
    margin-right: 4%;
}

#navLink :hover {
    color: whitesmoke;
}

#navLink_sub {
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    font-size: small;
}
#navInt {
    background: rgb(228, 61, 61);
}
#navMain {
    background: rgb(187, 49, 49);
}
#logoNav {
    
}
#navTitle {
    color: black;
}