#logoText {
    position: absolute;
    margin-left: 5%;
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    
    
}

#titleFull {
    margin: 0 auto;
}

#navLink {
    color:black;
    margin-left: 2%;
    margin-right: 4%;
    text-shadow: 1px 1px 1px #868686;
}

#navLink :hover {
    color: whitesmoke;
}

#navLink_sub {
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    font-size: small;
    text-shadow: 1px 1px 1px #868686;

}
#navInt {
    background: linear-gradient(to left, rgb(211, 81, 30), red);
}
#navMain {
    background: linear-gradient(to left, red, rgb(200, 0, 0));
}
 
#navTitle {
    color: black;
    text-shadow: 1px 1px 1px #868686;

}