#logoText {
    margin-right: 73%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#navLink {
    color: white;
    margin-left: 2%;
    margin-right: 4%;
}

#navLink :hover {
    color: whitesmoke;
}

#navLink_sub {
    color: rgb(143, 157, 170);
    margin-left: 2%;
    margin-right: 2%;
    font-size: small;
}